<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollimani - Control Escolar</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    @*se carga devexpress en el layout para que renderice las vistas con el mismo ya instalado y alojado en la carpeta de node_modules*@
    <link href="~/Content/dx.light.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content mt-4">
        @*se usa renderizado de vistas para cargar el index*@
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/Scripts/dx.all.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @RenderSection("scripts", required: false)
</body>
</html>