
@{
    Layout = null;
    @model System.Data.DataTable
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Ollimani</title>
</head>
<body>
    <h2>Ollimani Alumnos</h2>
    <div> 
        <button id="btnNuevo" class="btn btn-primary">
            Nuevo Alumno
        </button>
        <table id="tblAlumnos" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/alumno.js"></script>
</body>
</html>
